<?xml version="1.0"?>
<!--
/**
 * @category   Addweb
 * @package    Addweb_News
 * @author     n.pavan37@gmail.com

 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Addweb_News" setup_version="1.0.7">
    </module>
</config>